*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*mini-navbar*/
.mini-navbar{
  background-color: #363636;
  display: flex;
  justify-content: space-between;
  padding:12px 20px 0 20px;
  height: 42px;
}
.mini-navbar .fa-clock{
  font-size: 11px;
}
.mini-navbar span{
  font-size: 14px;
}
/*navbar*/
.nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 3px solid rgb(128, 0, 0);
 height: 96px;
 padding-right: 15px;
}

.nav-listes{
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-between;
}
.nav-liste{
  font-size:21px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  padding: 6% 3.5%
}
.nav-liste:hover{
  font-size: 21px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0,0,0,0.2);
    border-top: 3px solid rgb(128, 0, 0);
    color: black;
}
img[alt="image-simplon"]{ 
  margin-left: 15px;
  height:50px;
  width:170px
  
}
.list-social-media{
  margin-top: 7px;
  display: flex;
  list-style: none;
  align-items: center;
  color: white ;
  float: left;
  justify-content: space-evenly;
  width:250px;
  font-family: 'Montez', cursive;

}
.list-social-media a{
  color: white;
}
.navR{
  color: white;
  line-height: 20px;
  
}

.list-social-media li .fab{ 
background-color: transparent;  
text-decoration: none;

 }
 .list-social-media li .fab:hover{
   color: white;
  width: 30px;
  height: 30px;
  font-size: 17px;
  border-radius: 50%;
  text-align:center;
  line-height:30px;
   transition: all .3s ease;
  box-shadow: 0 5px 5px #000;
  transform: translateY(-5px);
  cursor: pointer;
 }

.list-social-media .fa-twitter:hover{
  background:#55acee;
}

.list-social-media .fa-facebook-f:hover{
  background:#3b5998;
}

.list-social-media .fa-linkedin-in:hover{
  background:#0083be;
}

.list-social-media .fa-google-plus-g:hover{
  background:#dd4b39;

}
.list-social-media .fa-youtube:hover{
  background:red;

}


.carousel-item > img { 
  height: 600px; 

 }
  img[ src= carousel3]{

 filter:  brightness(170%)
 }
.carousel-control-next,
.carousel-control-prev {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}


.what_simplon h2{
  margin-left: 40px;
  font-family: 'Josefin Sans', sans-serif;
  color: red;
  font-size: 42px;
  margin-bottom: 15px;
}
.what_simplon h2:after {
  width: 490px;
  display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
h2:hover:after { transform: scaleX(1); }
h2.fromRight:after{ transform-origin:100% 50%; }
.listes_activity li .fas{ 
  color: white;
  background-color: #444;

   width: 130px;
   height: 130px;
   font-size: 55px;
   border-radius: 50%;
   text-align:center;
   line-height:130px;
    transition: all .3s ease;
   box-shadow: 0 5px 5px rgb(87, 3, 3);
   
 }
 .listes_activity{
  margin-top: 30px;
   list-style: none;
   display: flex;
   width: auto;
   justify-content: space-evenly;
 }
 .listes_activity h5{
    margin-top: 30px;
    margin-left: -30px;
    width:200px;
    color: red;
    font-family: 'Cabin Condensed', sans-serif;
    text-align: center;

 }
 .listes_activity li p{
  margin-left: -20px;
  width:220px;
  font-family: 'Pontano Sans', sans-serif;
font-size: 12px;
color: black;

 }
 .what_simplon{
  background-image: url(https://jevelin.shufflehound.com/mobile-app/wp-content/uploads/sites/38/2019/11/2slideparal.jpg);

   padding:50px 30px;
 }
 .what_simplon p{
   margin-left: 100px;
   width: 83%;
   text-align: justify;
   font-family: 'Cabin Condensed', sans-serif;

font-size: 17px;
 }
 .what_simplon h1{
   margin-top: 50px;
  font-family: 'Fondamento', cursive;
  text-shadow:gray 1px 0 10px;;
  text-align: center;
  font-size: 40px;

 }
 .what_simplon .btn{
  display: block;
  margin : auto;
  color: #fff;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 0.5em;
  width: 150px;
  height: 45px;
  border: none;
  line-height: 30px;
  font-family: 'Cabin Condensed', sans-serif;

} 
.what_simplon a:hover{
  line-height: 25px;
  font-family: 'Fondamento', cursive;

  color:  rgba(0, 0, 0, 0.788);
  background-color: white;
  text-decoration: underline;
  border: 3px solid  rgba(0, 0, 0, 0.788);
} 
/*impact*/
.impact{
  background-image: url("https://www.efficom.fr/wp-content/themes/efficom-lille/img/background_counter.jpg");
  background-size: cover;
  height: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 65px;
  color: white;

}

.impact_data {
  display: flex;
  list-style: none;
  justify-content: center;
  width: auto;
  margin-top: 50px;
}
/*
.impact h2{
  margin-left: 20px;
 font-size: 45px;
 font-family: 'Fredericka the Great', cursive;
 background-color: black;
 border-radius: 8px;
 width: 300px;
}
*/
.impact_data li{
  border-right: 1px solid gray;

  width: 230px;
}
.impact_data li>h3{
  color: red;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding-top: 12px; 
font-family: 'Playfair Display', serif;

}
.impact_data li>h4{
  margin-top: 10px;
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
line-height: 30px;
padding-bottom: 10px;
font-family: 'Raleway', sans-serif;

}
.reglement{
  background-image: url(https://cdn.jevelin.shufflehound.com/education/wp-content/uploads/sites/20/2018/06/Inside-pages3.jpg);

  padding: 40px 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
.reglement h3{
  font-size: 35px;
}
.down{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.down li{
  font-size: 35px;
  color: red;
}
/* partenaire */
.partenaire{
  padding: 100px 0 60px 0;
background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/03/Home_5_partners_back.jpg);
 text-align: center;

 height: 350px;

}
.partenaire h2{
  margin-top: -50px;
  font-size: 40px;
  color: white;
  font-family: 'Fredericka the Great', cursive;

}

.logo_car2 img{
  width: 170px;
}
.logo_car3 img{
  margin-top: 60px;

  width: 170px;
}

.logo_car1 img{
  margin-top: 70px;
  width: 220px;
}
.contact{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.contact h5{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 8px;
  color: #8d8d8d;
  font-size: 20px;
}
.contact h1{
text-align: center;  color: #000;   font-family: 'Montez', cursive;

}
.contact a:hover{
  text-decoration: none;
}
.contact-word1 h1:hover{
  text-decoration: none;
    color: #55acee;
  }
  .contact-word2 h1:hover{
    color: #3b5998;
  }
  .contact-word3 h1:hover{
    color: red;
  }
.contact-word1 {

  background-image: url("https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Soc_twit.png");
  background-size: cover;
  background-position: 50% 50%;
  width: 33%;
  

  padding: 170px 15px 190px 15px;
}
.contact-word2{
  background-image: url(ComponentSimplon/images/Soc_fb.png);
  padding: 170px 15px 190px 15px;
  background-color: #f7f7f7;
  background-position: 50% 50%;
  background-image: url(//cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Soc_fb.png);
  width: 34%;
}
.contact-word3{
  background-image: url(ComponentSimplon/images/Soc_yt.png);
width: 33%;
padding: 170px 15px 190px 15px;
background-color: #ececec;
background-size: cover;
background-position: 50% 50%;


}
.footer img{
height: 50px;
}
.footer-el{
  cursor: pointer;
  margin: -14px;
  list-style: none;
  background-color:#262626;
  color:white;
  padding: 30px 0 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-els {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid red;
  font-family: 'Raleway', sans-serif;


}
.footer-els:hover{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;

}
