.footer{
    background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;

 
}
.social-icons{
    margin-left: 570px;
    color: white;

}
h6{    margin-left: 560px;

    color: white;
}
a{
    color: white;
    padding-left: 20px;
}
.social{
    color: white;
}
.copyright-text
{  margin-left: 500px;
    color: white;
 
}

@media only screen and (max-width: 768px)
{
    .footer{
        background-color:#26272b;
      padding:0px;
      font-size:15px;
      line-height:24px;
    
     
    }
    .social-icons{
        margin-left: 0px;
        color: white;
    
    }
    h6{    margin-left: 5px;
    
        color: white;
    }
    a{
        color: white;
        padding-left:0px;
    }
    .social{
        color: white;
    }
    .copyright-text
    {  margin-left:5px;
        color: white;
    }
   
}
